*******************************
******** RELEASE NOTES ********
*******************************

**************************
**** {{version}} - {{day}}/{{month}}-{{year}} ****
**************************

******************
**** Features ****
******************


******************
***** Fixes ******
******************


******************
** Improvements **
******************

